code{

}

pre 
{
	overflow-x:scroll; /* adds horizontal scroll bar to code
  /*this makes the sizes of of tabs smaller, the defailt is 8 characters
	So the code is readable, but can still be copy and pasted with tabs
	This is only supported in Chrome, Firefox and Opera
	https://websemantics.uk/articles/displaying-code-in-web-pages/
	https://www.sitepoint.com/best-practice-for-code-examples/
	*/
  	-moz-tab-size: 2;
  	-o-tab-size: 2;
  	tab-size: 2;
	
	background-color: white;
	border: 1px solid black;
	padding: 10px;
	border-radius: 10px;
	font-size: 16px;
}

pre .hll{background-color:#49483e}pre .c{color:#bc9458}pre .err{color:#960050;background-color:#1e0010}pre .k{color:#cc7833}pre .l{color:#ae81ff}pre .n{color:black}pre .p{color:black}pre .cm{color:#bc9458}pre .cp{color:#cc7833}pre .c1{color:#bc9458}pre .cs{color:#bc9458}pre .ge{font-style:italic}pre .gs{font-weight:700}pre .kc{color:#6c99bb}pre .kd{color:#cc7833}pre .kn{color:#cc7833}pre .kp{color:#cc7833}pre .kr{color:#cc7833}pre .ld{color:#e6db74}pre .m{color:#ae81ff}pre .s{color:#a5c261}pre .na{color:#a6e22e}pre .nb{color:#b83426}pre .nd{color:#a6e22e}pre .ni{color:#f8f8f2}pre .ne{color:#a6e22e}pre .nl{color:#f8f8f2}pre .nn{color:black}pre .nx{color:#6c99bb}pre .py{color:#f8f8f2}pre .nt{color:#f92672}pre .nv{color:#f8f8f2}pre .ow{color:#cc7833}pre .w{color:#f8f8f2}pre .mf{color:#6c99bb}pre .mh{color:#6c99bb}pre .mi{color:#6c99bb}pre .mo{color:#6c99bb}pre .sb{color:#6c99bb}pre .sc{color:#6c99bb}pre .sd{color:#6c99bb}pre .s2{color:#a5c261}pre .se{color:#ae81ff}pre .sh{color:#6c99bb}pre .si{color:#6c99bb}pre .sx{color:#6c99bb}pre .sr{color:#6c99bb}pre .s1{color:#a5c261}pre .ss{color:#6c99bb}pre .bp{color:#f8f8f2}pre .vc{color:#f8f8f2}pre .vg{color:#f8f8f2}pre .vi{color:#f8f8f2}pre .il{color:#ae81ff}pre .gu{color:#75715e}pre .gd{color:#f92672}pre .gi{color:#a6e22e}pre .nf{color: blue}