/* ============= Top ============= */
.box {
	box-sizing: border-box;
	border: 10px solid white;
}

.box .text{
	margin-bottom: 10px;
}

.box img{ 
	height: 200px;
	object-fit: cover;
	width: 100%;
}

#bottomImg{
	float: right;
	position: relative;
	bottom: 20px;
}

@media only screen and (min-width: 600px) { /* If website is on desktop */
	.box{
		width: 50%;
	}
	.box p{
		font-size: 20px;
	}
}

.box .text{
	height: 200px;
	float: left;
	width: 100%;
}

.box p{
	padding: 10px;
	font-size: 20px;
}

/* ============= Bottom ============= */

.plainText{
	padding-bottom: 10px;
	font-size: 18px;
}

/* ============= Contents ============= */
.sticky { /*This is applided to the contents when it reaches the top of the page*/
  position: fixed;
  top: 0;
  width: 100%;
}

#contents{
	box-sizing: border-box;
	border: 10px solid white;
	float: left;
	width: 20%;
	list-style-position: inside;
	padding: 10px;
	border-radius: 30px;
	background-image: linear-gradient(to bottom right, #5cd6ff, #60f8d6);
	
}

#contents li{
	list-style-type: circle;
	/*list-style-image: url('../images/bullet.png');*/
	font-size: 20px;
}

/* ============= Instructions ============= */

#instructions{
	position: relative;
	bottom: 23px;
    border: 10px solid white;
	padding: 40px;
	box-sizing: border-box;
	background-color: #d5edf2;
	float: right;
	width: 80%;
}

#instructions h3{
	padding-bottom: 30px;
	font-size: 50px;
}

#instructions h4{
	padding-bottom: 10px;
	font-size: 35px;
}
/*
@media only screen and (min-width: 1000px){
	#instructions h3{
		font-size: 4vw;
	}

	#instructions h4{
		font-size: 3vw;
	}
}*/
