*{
	margin: 0;
	padding: 0;
	font-weight: normal;
}

a{
	text-decoration: none;
}

a:visited {
  color: black;
}

body{
	margin: auto;
	max-width: 1750px;
}

/* Navbar and Footer */
header, footer{
	background-color: #d5edf2;
	padding: 10px;
    overflow: hidden;
}

.logo{
	float: left;
	padding-top: 8px; /* Because the logo was sightly displaced */
}
/* -- NavBar -- */
#title{
	font-family: 'IBM Plex Mono', monospace;
	font-size: 50px;
	float: left;
	padding-left: 15px;
}
	
header img{
	height: 50px;
}

#navbar_links{
	float: right;
	font-size: 50px;
}

/* -- Footer -- */	
footer img{
	padding-right: 15px;
	height: 35px;
}

#footer_links{
	font-size: 40px;
}

/*-- Top --*/
#top{
	background-image: linear-gradient(to right, #017abc , #5cd6ff);
	
	
    overflow: hidden;
	margin: 10px;
	/*height: 400px;*/
}

#toptext{
	padding: 10px;
	display: inline-block;
	width: 40%;
	font-size: 70px;
}

#top img{
	display: inline-block;
	float: right;
	width: 55%;
	height: 100%;
	object-fit: cover;
	background-image: url(../images/microbit_on_table.jpg);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
}

#emphasize{
	color: white;
}
/* ---- Bottom ---- */
.bottom{
	height: 400px;
	width: 50%;
	float: left;
	padding-bottom: 10px;
	
	box-sizing: border-box;
}

.bottom img{
	object-fit: cover;
	width: 100%;
    height: 100%;
	
	
}

.bottom p{
	position: relative;
	top: -260px;
	background-color: aquamarine;
	text-align: center;
	font-size: 100px;
	padding: 20px;
	
	
}


#projects {
	padding-left: 10px;
	padding-right: 5px;
}

#projects p{
	background-image: linear-gradient(to right, #5cd6ff , #5ee7eb);
}

#learn{
	padding-left: 5px;
	padding-right: 10px;
}


#learn p{
	background-image: linear-gradient(to right, #5ee7eb , #60f8d6);
}

/* --------- */
.text{
	font-family: 'Ubuntu', sans-serif;
	font-color: black;
}
